/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#ifdef _WIN32
LANGUAGE 0x09, 0x01
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
101                ICON    DISCARDABLE     "ur-quan1.ico"
102                ICON    DISCARDABLE     "sis1.ico"
103                ICON    DISCARDABLE     "ur-quan2.ico"
104                ICON    DISCARDABLE     "kohr-ah1.ico"
105                ICON    DISCARDABLE     "starcon2.ico"
