body {
    background-color: #000;
    background-image: url(starfield.png);
}

#container {
    width: 640px;
    height: 480px;
    background-color: #000;
    margin: 0; padding: 0;
}
#gamearea {
    background-color: #000;
    color: #fff;
    border: 2px solid #226;
    width: 640px;
    margin: 0 auto 0 auto;
}
#downloads {
    width: 640px;
}
#downloads > progress {
    width: 100%;
}

footer {
    width: 626px;
    margin: 20px auto 20px auto;
    background-color: #000878;
    color: #eee;
    border-top: 4px solid #010661;
    border-left: 4px solid #01055c;
    border-right: 4px solid #040999;
    border-bottom: 4px solid #040999;
    padding: 5px;
}

footer a {
    color: #5050f8;
    font-family: sans-serif;
}

footer > .right {
    float: right;
}