body {
    background-color: #000;
    background-image: url(starfield.png);
    margin: 0; padding: 0;
}

#container {
    width: 640px;
    height: 480px;
    background-color: #000;
    margin: 0; padding: 0;
}
#gamearea {
    background-color: #000;
    color: #fff;
    border: 2px solid #226;
    width: 640px;
    margin: 20px auto 20px auto;
}
#downloads {
    width: 640px;
}
#downloads > progress {
    width: 100%;
}

footer {
    width: 626px;
    margin: 20px auto 20px auto;
    background-color: #0000a5;
    color: #de00de;
    border-top: 4px solid #000073;
    border-left: 4px solid #000073;
    border-right: 4px solid #0008e7;
    border-bottom: 4px solid #0008e7;
    padding: 5px;
}

footer a {
    color: #de00de;
    font-family: sans-serif;
}

footer > .right {
    float: right;
}